.elementor-377 .elementor-element.elementor-element-ad72a89 {
    margin-top: -1px;
    margin-bottom: 0px;
}

.elementor-377 .elementor-element.elementor-element-6c87da8 .hero_online_banking {
    background-image: url(../../../../images/01/MainBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/* .elementor-377 .elementor-element.elementor-element-6c87da8 .overlay {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/hero_pattern.svg);
} */

.elementor-377 .elementor-element.elementor-element-1d840da {
    padding: 57px 0px 57px 0px;
    background-image: url(../../../../images/02/Sec02BGImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.elementor-377 .elementor-element.elementor-element-eceedb4 {
    padding: 0px 0px 0px 0px;
}

.elementor-377 .elementor-element.elementor-element-67f1069>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-66b743f>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-b2ec4fb {
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-377 .elementor-element.elementor-element-1b88b34>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-9c9c517>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-4625af6>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-4ed0527:not(.elementor-motion-effects-element-type-background),
.elementor-377 .elementor-element.elementor-element-4ed0527>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-377 .elementor-element.elementor-element-4ed0527 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 56px 0px;
}

.elementor-377 .elementor-element.elementor-element-4ed0527>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-377 .elementor-element.elementor-element-a8c9495>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-16ca680 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-377 .elementor-element.elementor-element-450cd04>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-5b5bb85:not(.elementor-motion-effects-element-type-background),
.elementor-377 .elementor-element.elementor-element-5b5bb85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-377 .elementor-element.elementor-element-5b5bb85 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 70px 0px;
}

.elementor-377 .elementor-element.elementor-element-5b5bb85>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-377 .elementor-element.elementor-element-e680c05>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-3cce1e3:not(.elementor-motion-effects-element-type-background),
.elementor-377 .elementor-element.elementor-element-3cce1e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F0F0F0;
}

.elementor-377 .elementor-element.elementor-element-3cce1e3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 70px 0px;
}

.elementor-377 .elementor-element.elementor-element-3cce1e3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-377 .elementor-element.elementor-element-cec83d8>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-983da67 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 15px;
}

.elementor-377 .elementor-element.elementor-element-80a8ad8>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}


/* .elementor-377 .elementor-element.elementor-element-8f5b79b .funfact_block {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/funfact_bg_1.svg);
} */

.elementor-377 .elementor-element.elementor-element-5971ffd>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}


/* .elementor-377 .elementor-element.elementor-element-5971ffd .funfact_block {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/funfact_bg_2.svg);
} */

.elementor-377 .elementor-element.elementor-element-f495984>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-5c1707e .money_transactions_card {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/shape_line.svg);
}

.elementor-377 .elementor-element.elementor-element-5c1707e .insurance_member {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/shape_line.svg);
}

.elementor-377 .elementor-element.elementor-element-fe8154a>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}


/* .elementor-377 .elementor-element.elementor-element-68270f9 .funfact_block {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/funfact_bg_3.svg);
} */

.elementor-377 .elementor-element.elementor-element-22377f6>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}


/* .elementor-377 .elementor-element.elementor-element-22377f6 .funfact_block {
    background-image: url(https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/funfact_bg_4.svg);
} */


/* .elementor-377 .elementor-element.elementor-element-df4095b:not(.elementor-motion-effects-element-type-background),
.elementor-377 .elementor-element.elementor-element-df4095b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #140d26;
} */

.elementor-377 .elementor-element.elementor-element-df4095b>.elementor-background-overlay {
    background-image: url("https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/hero_pattern.svg");
    opacity: 0.02;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-377 .elementor-element.elementor-element-df4095b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 80px 0px;
}

.elementor-377 .elementor-element.elementor-element-2c6ff51>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-52f2f93 {
    margin-bottom: 0px;
    background: linear-gradient(180deg, #fff 50%, #ceb9ec);
    padding: 80px 0px;
}

.elementor-377 .elementor-element.elementor-element-5a78dbb>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}


/* .elementor-377 .elementor-element.elementor-element-f1389d0:not(.elementor-motion-effects-element-type-background),
.elementor-377 .elementor-element.elementor-element-f1389d0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1C1C1E;
} */


/* .elementor-377 .elementor-element.elementor-element-f1389d0 {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D9FF43;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 70px 70px 70px;
} */

.elementor-377 .elementor-element.elementor-element-f1389d0,
.elementor-377 .elementor-element.elementor-element-f1389d0>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-377 .elementor-element.elementor-element-f1389d0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-377 .elementor-element.elementor-element-10d74cd {
    padding: 140px 0px 140px 0px;
}

.elementor-377 .elementor-element.elementor-element-1e481a6>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-66f9aeb:not(.elementor-motion-effects-element-type-background),
.elementor-377 .elementor-element.elementor-element-66f9aeb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://wp.xpressbuddy.com/synox/wp-content/uploads/2024/09/app_store_bg_1-scaled.webp");
    background-position: center center;
    background-size: cover;
}

.elementor-377 .elementor-element.elementor-element-66f9aeb {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 0px 0px;
}

.elementor-377 .elementor-element.elementor-element-66f9aeb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-377 .elementor-element.elementor-element-84e6787 {
    padding: 0px 0px 0px 0px;
}

.elementor-377 .elementor-element.elementor-element-e37bf8c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-377 .elementor-element.elementor-element-d70140e>.elementor-widget-container {
    --e-transform-translateY: 27px;
    margin: 0px 0px 0px 0px;
}

.elementor-377 .elementor-element.elementor-element-3b4612b>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-377 .elementor-element.elementor-element-467947f .btn {
    font-size: 14px;
    padding: 18px 30px 18px 30px;
}

.elementor-377 .elementor-element.elementor-element-467947f .btns_group {
    gap: 10px;
}

@media(max-width:767px) {
    .elementor-377 .elementor-element.elementor-element-d82f6c5>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-377 .elementor-element.elementor-element-450cd04>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width:768px) {
    .elementor-377 .elementor-element.elementor-element-e797b8b {
        width: 13%;
    }
    .elementor-377 .elementor-element.elementor-element-505fc0b {
        width: 74%;
    }
    .elementor-377 .elementor-element.elementor-element-26ad14a {
        width: 13%;
    }
    .elementor-377 .elementor-element.elementor-element-a8c9495 {
        width: 53%;
    }
    .elementor-377 .elementor-element.elementor-element-450cd04 {
        width: 47%;
    }
    .elementor-377 .elementor-element.elementor-element-e37bf8c {
        width: 41.135%;
    }
    .elementor-377 .elementor-element.elementor-element-8f42a06 {
        width: 11.763%;
    }
    .elementor-377 .elementor-element.elementor-element-3b4612b {
        width: 46.742%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-377 .elementor-element.elementor-element-e37bf8c {
        width: 50%;
    }
    .elementor-377 .elementor-element.elementor-element-8f42a06 {
        width: 5%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-377 .elementor-element.elementor-element-80a8ad8 {
        width: 50%;
    }
    .elementor-377 .elementor-element.elementor-element-f495984 {
        width: 50%;
    }
    .elementor-377 .elementor-element.elementor-element-fe8154a {
        width: 50%;
    }
    .elementor-377 .elementor-element.elementor-element-25cd405 {
        width: 100%;
    }
    .elementor-377 .elementor-element.elementor-element-590d42e {
        width: 100%;
    }
    .elementor-377 .elementor-element.elementor-element-3b4612b {
        width: 100%;
    }
}